a {
    text-decoration: none;
    color: black;
}

.main {
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.mainItems {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
}